body{
  font-size: 15px !important;
  margin: 0;
  padding: 0;
  color: #9C9C9C !important;
  background: #f4f2f3 !important;
  font-family: "Arial", "微软雅黑" !important;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
a{
 text-decoration: none !important;
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
button{
  cursor:pointer
}
#loading{
  width: 100%;
  height:100%;
  position: fixed;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
  align-content: center;
}
#loading-animation{
  width: 300px;
  height:300px;
  margin:0 auto;
  position: relative;
  top: 30%;
}
.toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  background: url(../png/upward.png) no-repeat;
  cursor: pointer;
  display: block;
  z-index: 2;
}
.hanggaocuowu{
  padding: 0;
  margin: 0;
}
#header{
  background-color: #ededed;
  width: 100%;
  height: 35px;
  clear: both;
}
#header ul li{
  line-height: 35px;
}
#header a{
  display: inline-block;
  color: #38ba5e;
}
#header .header-font{
  height: 35px;
  width: 1200px;
  margin:0 auto;
}

#header .header-font .welcome ul li{
  display: inline;
  float: left;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 30px;
}
#header .header-font .myself{
  float: right;
  right: 0;
  height: 35px;
}
#header .header-font .myself ul li{
  display: inline;
  padding: 0;
  margin: 0;
  padding: 0 15px;
  line-height: 35px;
}
#serach{
  width: 1200px;
  margin:0 auto;
}
#serach .serach-log{
  display: inline;
  position: relative;
  top: 15px;
  left: 10px;
  z-index: 3;
  float: left;
}
#serach .serach-input{
  display: inline;
  position: relative;
  top: 50px;
  left: 120px
}
#serach .serach-input input{
  width:450px;
  height: 40px;
  border: 1px solid #38ba5e;
  text-indent: 7px;
  line-height: 40px;
}
#serach .serach-input button{
  position: relative;
  right: 425px;
  float: right;
  width: 85px;
  height: 40px;
  border: none;
  background: #38ba5e;
  text-align: center;
  color: #fff;
}
#serach .serach-car{
  float: right;
  position: relative;
  top: 45px;
}
#serach .serach-car .serach-car-log img{
  z-index: 3;
  position: relative;
  bottom: 4px;
  right: 9px;
}
#serach .serach-car .serach-car-log .mycar{
  z-index: 2;
  position: relative;
  bottom: 52px;
  left: 10px;
  width: 120px;
  height: 40px;
  border: 1px solid #f1f1f1;
  background: #fafafa;
  line-height: 40px;
  text-indent: 40px;
}
#serach .serach-car .nub{
  z-index: 3;
  position: relative;
  bottom: 91px;
  left: 130px;
  background: #eebf20;
  color: #fff;
  width: 32px;
  height: 38px;
  text-align: center;
  font-size: 23px;
  padding-top: 4px;
}
#serach .serach-bottom{
  position: relative;
  left: 120px;
  top:50px;
}
#daohang{
  clear: both;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  border-bottom: 2px solid #38ba5e;
  z-index: 2;
  position: relative;
  bottom: 25px;
}
#daohang ul{
  clear: both;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
}
#daohang ul li{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  float: left;
  cursor: pointer
}
#daohang  a{
  display: inline-block;
  width: 100%
  height:100%;
  color: #000
}
#all{
  background-color: #38ba5e;
  width: 260px;
}
#all a{
  color: #fff;
}
#breadcrumbs{
  width: 1200px;
  height: 47px;
  line-height: 47px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #FFF;
  text-indent: 10px;
  font-size: 16px;
}
#info-title{
  width: 1200px;
  margin: 0 auto;
  color: #38bb5e;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 1px;
  border-bottom: 4px solid #38bb5e;
}
.order_no{
  font-size: 15px;
}
/*五元开始。大div*/
.order-show-status {
  width: 1200px;
  height: 140px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  position: relative;
}
/*五元位置*/
.order-status {
  width: 100px;
  margin-right: 110px;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  position: relative;
  z-index: 100;
}
/*普通元*/
.order-round {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #d6d6d6;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  margin: 0 auto;
}
/*绿色元*/
.order-show-status .rount-on {
  background: #39ba5e;
  color: #fff;
}
/*普通字*/
.order-status span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 24px;
    color: #343434;
    line-height: 40px;
    margin: 10px auto;
}
/*绿字*/
.order-show-status .text-on {
    color: #39ba5e;
}
/*普通线*/
.order-show-status .line {
    width: 850px;
    height: 9px;
    background: #d6d6d6;
    position: absolute;
    top: 45px;
    left: 175px;
    z-index: 1;
}
/*绿线*/
.order-show-status .line span {
    height: 9px;
    background: #39ba5e;
    display: block;
}
#orderstyle{
  width: 1200px;
  margin: 0 auto;
  color: #000;
  font-size: 14px;
}
#orderstyle .content{
  background: #fff;
  padding: 10px;
  border: 1px solid #cdcdcd;
}
#orderfollow{
  width: 1200px;
  margin: 0 auto;
  color: #000;
  font-size: 14px;
}
#orderfollow .content{
  background: #fff;
  border: 1px solid #cdcdcd;
}
#orderfollow .content ul{
  margin: 0;
  padding-left: 10px;
  border-bottom: 1px solid #cdcdcd;
  height: 50px;
}
#orderfollow .content ul li{
  width: 33%;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.title{
  width: 100%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
}
.first{
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #cdcdcd;
}
.two{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  line-height: 25px;
}
#orderinfo{
  width: 1200px;
  margin: 0 auto;
  color: #000;
  font-size: 14px;
}
#orderinfo .content{
  background: #fff;
  padding: 10px;
  border: 1px solid #cdcdcd;
}
#orderinfo ul li {
  width: 100%;
  height: 38px;
  margin: 0 auto;
  line-height: 38px;
  font-size: 14px;
}
#orderinfo ul li span{
  width: 120px;
  text-align: right;
  display: inline-block;
  margin-right: 10px;
}
#orderinfo .content .info_title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-bottom: 1px solid #cdcdcd;
  text-indent: 5px;
}
.goods_title{
  width: 1200px;
  margin: 0 auto;
  color: #000;
  height: 40px;
  line-height: 40px;
}
#goods{
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  color: #000;
  border-left: 1px solid #ddd;
  border-right:  1px solid #ddd;
}
#goods tr{
  margin-bottom: 0;
}
#goods tr td{
  font-size: 14px;
  text-align: center;
  vertical-align: middle;

}



#footer_img{
  position: relative;
  top:2px;
  margin:0 auto;
}
#Copyright{
  position: relative;
  background-color: #38bb5e;
  width: 100%
  margin:0 auto;
  height: 80px;
  line-height: 40px;
  text-align:center;
  color: #fff;
  font-size: 16px;
}